body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background: rgb(203, 203, 203);
}

.container {
  width: 800px;
  margin: 50px auto;
}

#contact-name {
  color: rgb(10, 93, 129);
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bold;
  float: left;
  margin: 55px 65px 0 0;
}

#picture {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  filter: grayscale(100%);
}

#contact-info {
  margin-top: 30px;
  float: right;
}

a:link {
  color: rgb(10, 93, 129);
  text-decoration: none;
}

a:hover {
  color: rgb(254, 108, 82);
  text-decoration: none;
}

#about-me {
  padding-bottom: 20px;
}

#about-me .section-header {
  padding-bottom: 10px;
}

.section-header {
  font-size: 24px;
}

.section-header::after {
  content: " ";
  display:block;
  border-bottom: 2px solid black;
}

.company {
  font-size: 20px;
}

.position {
  font-size: 17px;
}

.duties {
  font-size: 16px;
}

.date {
  float: right;
}
